body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc; /* Color de fondo de la página */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #1e1e1e; /* Color del texto del título */
}

.table-responsive {
    max-width: 100%; /* Limita el ancho máximo al contenedor */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em; /* Ajusta el tamaño de la fuente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra de la tabla */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera del borde redondeado */
    background-color: #ffffff; /* Color de fondo de la tabla */
    border: none; /* Elimina cualquier borde que pueda estar causando la línea blanca */
}

th, td {
    padding: 8px; /* Ajusta el padding para las celdas */
    text-align: left;
    white-space: nowrap; /* Evita que el texto se ajuste en varias líneas */
    overflow: hidden; /* Oculta el texto desbordado */
    text-overflow: ellipsis; /* Agrega puntos suspensivos para texto largo */
}

thead th {
    background-color: #21225e; /* Color del encabezado */
    color: white;
    font-size: 0.9em; /* Ajusta el tamaño de la fuente en el encabezado */
}

tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Color de fila par */
}

tbody tr:nth-of-type(odd) {
    background-color: #f8f8f8; /* Color de fila impar */
}

tbody tr:hover {
    background-color: rgb(101, 120, 155); /* Color de fila al pasar el ratón */
}

.table-hover tbody tr:hover {
    background-color: #e9ecef; /* Color al pasar el ratón */
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
    th, td {
        padding: 6px; /* Reduce el padding en pantallas pequeñas */
    }
    
    table {
        font-size: 0.8em; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }
}

/* styles.css */
.custom-container {
    max-width: 80%;
}
